
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace; /* Monospace font */
}

/* Header styles */
header {
  height: 100vh;
  background-image: url(bg_dedsec.jpg); /* Replace with your header background image */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.header-content {
  text-align: center;
}



/* Normal content styles */
.normal-content {
  padding: 40px;
  background-color: #2b2b2b; /* Dark background color */
  color: #00ff00; /* DedSec green font color */
}

.normal-content-inner {
  max-width: 800px;
  margin: 0 auto;
}

/* Additional styling for consistency */
h1, h2 {
  margin-bottom: 20px;
  color: #00ff00; /* DedSec green heading color */
}

p {
  font-size: 18px;
  line-height: 1.6;
}

/* Add the following styles to your styles.css file */
.redirect-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ff00;
  color: #000;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.redirect-button:hover {
  background-color: #005500;
}
